// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$color1: #f1f1f3;
$color2: #e74c3c;
$color3: #b12531;
$color4: #ddd;
$color5: #b12531;
$color6: #5a0712;
$color7: #555;
$color8: #de2b37;
$color9: #b92332;
$color10: #821019;
$color11: #ccc;
$color12: #808080;
$color13: #f2f2f2;
$color14: rgba(0, 0, 0, 1);
$color15: rgba(0, 0, 0, 0);
$color16: #b2b2b2;
$color17: #b9242d;
$color18: #e5e5e5;
$color19: #495057;
$color20: #dc3545;
$color21: #f7f7f7;
$color22: #eb991f;
$color23: #fafafa;
$color24: #db9a35;
$color25: #222;
