.ml-20 {
  margin-left: 20px;
}
.top-4 {
  position: relative;
  top: 4px;
}
.mt-20 {
  margin-top: 20px !important;
}
.close-modal {
  position: absolute;
  bottom: 29px;
}
.submit-modal-upadte {
  position: relative;
  right: -20.6em;
  bottom: 0px;
}
.message-area {
  height: 550px !important;
  overflow-y: scroll;
  padding-bottom: 30px;
}
#proDes {
  resize: none;
  width: 100%;
  min-height: 100px;
  padding: 5px;
  overflow: auto;
  box-sizing: border-box;
  max-height: 200px;
}
.note-editable {
  min-height: 50px;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove,
.remove-m,
.remove-p {
  display: block;
  background: #848181a6;
  border: 1px solid #b99a9a;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover,
.remove-m:hover,
.remove-p:hover {
  color: white;
}
#all_img {
  padding-bottom: 16px;
}
.product-price-add .j-row > div {
  padding-right: 15px;
}
.product-price-add .j-row button {
  height: 34px;
  margin-right: 15px;
}
.ctm-tab-b {
  background: #efefef;
  padding: 0 !important;
}
.ctm-tab-b li {
  padding: 0 !important;
}
.itm-stock,
.out-of-stock {
  display: block;
  padding: 6px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}
.itm-stock {
  border: 1px solid green;
  background: lightgreen;
}
.out-of-stock {
  background: #e74c3c;
  border: 1px solid darkred;
  color: white;
}
.toclone-widget-right {
  padding-right: 0 !important;
}
.md-content .clone,
.md-content .delete,
.md-content .p_update,
.md-content .p_delete {
  margin: 0 15px 0 0 !important;
}
.md-content .j-row .unit {
  width: 30%;
}
.md-content .j-row .unit .input,
.md-content .j-row .unit input {
  width: 100% !important;
}

/* The container */
.ck-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.ck-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #b5b0b0;
}
/* On mouse-over, add a grey background color */
.ck-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.ck-container input:checked ~ .checkmark {
  background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.ck-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.ck-container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 800px) {
  .md-content .clone,
  .md-content .delete {
    padding: 8px 10px !important;
  }
}
@media (max-width: 576px) {
  .md-content .j-row .unit {
    margin: 0 !important;
  }
}

.igo-admin-pro-tab-warp .card {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.igo-admin-pro-tab-warp .card .card-header {
  padding: 6px 21px;
  border-bottom: 0;
}
